body{
    background-color: black;
}
header {
    display: flex;
}

.icon {
    display: flex;
}

.title {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    align-self: center;
    font-size: 35px;
}

h1 {
    color: orange;
    font-family: 'Bungee';
    align-items: center;
}

a {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
}
main{
    background-image: url(/lenguajedemarcas/imgs/iniciosesion.jpg);
    background-size: cover;
    background-repeat: no-repeat
}
li {
    list-style-type: none;
    text-align: center;
    background: orange;
    height: 30px;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    padding: 0%;
}
#loginsqr{
    display: flexbox;
    justify-content: center;
    font-family: 'Times New Roman, Times, serif';
    width:  fit-content;
    padding-bottom: 250px;
    padding-top: 250px;
    padding-left: 725px;
}
mark{
    background: cadetblue;
}
button{
    background: cadetblue;
}
footer {
    background-color: orange;
}

#divfooter {
    display: flex;
    justify-content: space-evenly;
}

@font-face {
    font-family: 'Bungee';
    src: url(BungeeSpice-Regular.ttf);
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 2fr;
}