body {
    background-color: black;
}

header {
    display: flex;
}

.icon {
    display: flex;
}

.title {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    align-self: center;
    font-size: 35px;
}

h1 {
    color: orange;
    font-family: 'Bungee';
    align-items: center;
}

a {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
}

li {
    list-style-type: none;
    text-align: center;
    background: orange;
    height: 30px;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    padding: 0%;
}

aside {
    padding: 50px;
    display: flex;
}

section {
    /*  display: flex;
    align-items: center;
    justify-content: space-evenly;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section div p {
    color: orange;
    justify-content: center;
}

footer {
    background-color: orange;
}

#divfooter {
    display: flex;
    justify-content: space-evenly;
}

#ig {}

@font-face {
    font-family: 'Bungee';
    src: url(BungeeSpice-Regular.ttf);
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 2fr;
}